

<table class="table container">
    <thead>
      <tr>
        <th>Image</th>
        <th>Product</th>
        <th>Code</th>
        <th>Available</th>
        <th>Price</th>
        <th>5 Star Rating</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="filteredProducts.length > 0; else noFilterProducts">
        <tr *ngFor="let p of filteredProducts">
          <td><img [src]='p.imageUrl' width="50px"></td>
          <td>{{ p.productName }}</td>
          <td>{{ p.productCode }}</td>
          <td>{{ p.releaseDate }}</td>
          <td>{{ p.price }}</td>
          <td>
            <app-star [rating]="p.starRating" (ratingClicked)="handleRatingClicked($event)"></app-star>
          </td>
        </tr>
      </ng-container>
      <ng-template #noFilterProducts>
        <tr *ngFor="let p of products">
          <ng-container *ngIf="!filteredProducts.length || !listFilter 
          || (p.productName.toLowerCase().includes(listFilter.toLowerCase()))">
            <td><img [src]='p.imageUrl' width="50px" [title]='p.productName|uppercase'></td>
            <td>{{p.productName}}</td>
            <td>{{p.productCode}}</td>
            <td>{{p.releaseDate}}</td>
            <td>{{p.price|currency:'USD':'symbol':'1.2-2'}}</td>
            <td>
                <app-star [rating]="p.starRating" 
                (ratingClicked)="handleRatingClicked($event)"></app-star>
            </td>
          </ng-container>
        </tr>
      </ng-template>
    </tbody>
  </table>
  