<div class="card">
    <div class="card-header">
        <h4>Product list</h4>
    </div>
    <div class="card-body">
        <div class="row mb-2">
            <label class="col-2">Filter:</label>
            <input type="text" class="col-3" [(ngModel)]='listFilter' />
            <div class="col-7"></div>
        </div>
        <div class="row mb-4">
            <h2 class="col-12">Filter by: {{listFilter}}</h2>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Code</th>
                    <th>Available</th>
                    <th>Price</th>
                    <th>5 Star Rating</th>
                </tr>
                
                <ng-container *ngIf="filteredProducts.length > 0; else noFilterProducts">
                    <tr *ngFor="let p of filteredProducts">
                        <td><img [src]='p.imageUrl' width="50px"></td>
                        <td>{{ p.productName }}</td>
                        <td>{{ p.productCode }}</td>
                        <td>{{ p.releaseDate }}</td>
                        <td>{{ p.price }}</td>
                        <td>
                            <app-star [rating]='p.starRating'></app-star>
                        </td>
                    </tr>
                </ng-container>
                <ng-template #noFilterProducts >
                    <tr *ngFor="let p of products">
                        <td><img [src]='p.imageUrl' width="50px" [title]='p.productName|uppercase'></td>
                        <td>{{p.productName}}</td>
                        <td>{{p.productCode}}</td>
                        <td>{{p.releaseDate}}</td>
                        <td>{{p.price|currency:'USD':'symbol':'1.2-2'}}</td>
                        <td>
                            <app-star [rating]='p.starRating'></app-star>
                        </td>
                    </tr>
                </ng-template>              
            </thead>
        </table>
    </div>
</div>