<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">FPoly Product Manager</a>
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="exe01">Exercise01</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="exe02">Exercise02</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="exe03">Exercise03</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="exe04">Exercise04</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="exe05">Exercise05</a>
    </li>
     
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="navbardrop"
        data-toggle="dropdown"
      >
        Manager
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Login</a>
        <a class="dropdown-item" href="#">Cart</a>
      </div>
    </li>
  </ul>
</nav>
<!-- <header>
  <img src="https://th.bing.com/th/id/OIP.u3mgmYMq4ofTd4lBtZtbxQHaD4?rs=1&pid=ImgDetMain" alt="#">
  <h2 class="animate-charcter"> Bài Lab Angular-WEB208</h2>
  <h3></h3>
</header> -->